<!DOCTYPE html>
<html>
  <head>
    <title>Corona 7 Tage Inzidenz</title>
  </head>
  <body>
  	<h1>Corona 7 Tage Statistik in ausgewählten Landkreisen</h1>
  	<h2>Daten</h2>
  	<table border="1">
  		<tr>
  			{{#fields}}
 			<th>{{alias}}</th>
  			{{/fields}}
  		</tr>
 		{{#features}}
  		<tr>
  			{{#.}}
  			<td>{{value}}</td>
  			{{/.}}
  		</tr>  	  		
 		{{/features}}
  	</table>
  	<sub>Quelle: https://npgeo-corona-npgeo-de.hub.arcgis.com/datasets/917fc37a709542548cc3be077a786c17_0</sub>
  	
  	<h2>Grafiken</h2>
  	{{#lineCharts}}
  	<img src="cid:{{cid}}" alt="{{alternativeText}}" />	
  	{{/lineCharts}}
  	
  </body>
</html>